################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Mod1/Laboratory work from 1 to 4/.vs/School/v17
/Mod1/Laboratory work from 1 to 4/School/bin/Debug
/Mod1/Laboratory work from 1 to 4/School/obj/Debug
